name: Build Windows Installer

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Build Electron App (Windows)
        run: npx quasar build -m electron

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: UP-Ros-Windows
          path: dist/electron/Packaged
